.entry-title {
   display: none;
}

#category-posts-5-internal li > div {
    clear: none;
}

#category-posts-5-internal .cat-post-item::after {
    clear: none;
}

/*
#page-header h1 span {
    padding-bottom: 40px;
}
*/